################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VajaMVC/.vs
/MVCNaprejKoda/.vs
/MVCNaprejKoda/MVCNaprejKoda/App_Data
