@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/mojaPredloga.cshtml";
}
<div class="jumbotron">
    <h2>Index</h2>
</div>
<div class="row">
    <p>Tu je u teljsi</p>
</div>
@section footer{
    <p>Tu je nwga str'ni</p>    
}